$HEADER-Z-INDEX: 10;
$MAIN-MENU-Z-INDEX: 12;
$FORM-Z-INDEX: 30;
$WINDOW-Z-INDEX: 11;
$TABS-CONTAINER-Z-INDEX: 11;

@mixin slideIn($animName) {
    animation: $animName 0.8s cubic-bezier(0, 1.13, 0.63, 0.99) forwards;
}
@mixin slideOut($animName) {
    animation: $animName 0.8s cubic-bezier(0.21, 0.93, 0.63, 0.99) forwards;
}

@keyframes slideFromLeft {
    to { left: 0%; opacity: 1}
}
@keyframes slideToLeft {
    from { left: 0%; opacity: 1}
    to { left: -30% ; opacity: 0; }
}
@keyframes slideFromRight {
    to { right: 0; opacity: 1}
}
@keyframes slideToRight {
    from { right: 0; opacity: 1}
    to { right: -25%; opacity: 0}
}
@keyframes expand {
    0% { transform: scaleY(0); opacity: 0 }
    100% {transform: scaleY(1); opacity: 1 }
}
@keyframes collapse {
    0% { transform: scaleY(1); opacity: 1 }
    100% { transform: scaleY(0); opacity: 0 }
}

.slide-from-left {
    @include slideIn(slideFromLeft);
}
.slide-to-left {
    @include slideOut(slideToLeft)
}
.slide-from-right {
    @include slideIn(slideFromRight);
    display: block !important;
}
.slide-to-right {
    @include slideOut(slideToRight);
}
.expand {
    animation: expand 0.4s cubic-bezier(0.21, 0.93, 0.63, 0.99) forwards;
    transform: perspective(100px);
    transform-origin: 50%;
    display: block !important;
}

.collapse {
    animation: collapse 0.5s cubic-bezier(0.21, 0.93, 0.63, 0.99) forwards;
    transform: perspective(100px);
    transform-origin: 50%;
}
html {
    height: 100%;
}
body {
    margin: 0;
    overflow-x: hidden; /*Disabling horizontal overflow*/
    overflow-y: scroll;
    font-family: 'Open Sans',Arial,sans-serif;
    counter-reset: questionIndex;
}
body * {
    transition: background-color 0.2s linear, box-shadow 0.2s linear;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    z-index: 10;
    background: -webkit-linear-gradient(left, white, lightblue);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* global hover style for <a></a> elements */
a:hover {
    cursor: pointer;
    text-decoration: none;
}

.close-btn {
    transition: transform 0.2s linear;
    font-size: x-large;
}
.close-btn:hover {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
    cursor: pointer;
}

.form-group {
    position: relative;
}
.pnl-dropdown-menu-right {
    flex-grow: 3;
    & > div > a {
        line-height: 30px;
        margin: 5px;
        width: 248px;
        text-align: left;
        display: block;
        & > span {
            display: inline-block;
            width: 94%;
        }
        i {
            margin-top: 8px;
        }
    }
    ul {
        box-shadow: 2px 4px 10px 3px gray;
        width: 254px;
        position: absolute;
        display: none;
        background-color: white;
        margin-left: 5px;
        left: 252px;
        border-radius: 2px;
        top: 5px;
        padding-left: 0px;
        z-index: 100;
    }

    li {
        list-style-type: none;
        line-height: 40px;
        transition: background-color 0.2s linear;
        padding-left: 10px;
        text-align: left;
        color: #09f;
        &:hover {
            background-color: #efefef;
            cursor: pointer;
        }
    }
}

.pnl-dropdown-menu-bottom {
    @extend .pnl-dropdown-menu-right;
    & > div {
        display: inline-block;
    }
    ul {
        left: initial;
        top: initial;
    }
}
ul {
    margin: 0;
    padding: 0;
    position: relative;
}
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    line-height: 3em;
}
li input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor:  pointer;
}

header {
    box-shadow: 0px 3px 10px 0.5px rgba(200,200,200,0.8);
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: $HEADER-Z-INDEX;
    .menu-toggler-container {
        width: 5%;
        border-right: 2px groove rgba(200,200,200,0.5);
        padding-top: 1.5em;
        display: flex;
        flex-direction: column;
        position: relative;
        #menu-toggler {
            width: 100%;
            margin: 0;
            height: 100%;
            cursor: pointer;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            &:hover ~ .bar, &:checked ~ .bar {
                box-shadow: 0px 0px 2px grey;
            }
            &:checked  {

                & ~ .first-bar {
                    transform: rotate(35deg);
                }
                & ~ .third-bar {
                    transform: rotate(-35deg);
                }
                & ~ .second-bar {
                    transform: translateX(-20px);
                    opacity: 0;
                }
            }
        }
        .bar {
            margin: 0 auto;
            margin-bottom: 0.5em;
            display: inline-block;
            height: 5px;
            width: 3em;
            background-color: brown;
            vertical-align: bottom;
            border-radius: 1em;
            box-shadow: 0px 0px 1px grey;
            transition: transform 0.2s linear, opacity 0.2s linear;
            transform-origin: 0;
            z-index: 0;
            opacity: 1;
        }
    }
    .app-title {
        font-size: 50px;
        text-shadow: 2px 2px 1.5px gray;
        color: #D81B60;
        width: 95%;
        vertical-align: middle;
        text-align: center;
    }
}
nav.main-menu {
    opacity: 0;
    position: absolute;
    left: -25%;
    width: 23%;
    height: 100%;
    z-index: $MAIN-MENU-Z-INDEX;
}

$GRADIENT-COLOR: #FEDC97;
.menu {
    margin-top: 1.5px;
    transition: background-color 0.2s linear;
    box-shadow: 4px 4px 10px gray;
    background-color: gray;
    padding-left: 0;
    height: 100%;
    position: relative;

    .menu-item-container {
        width: 100%;
        line-height: 5em;
        z-index: 1;
        perspective: 500px;
        input[type='radio'] {
            &:before, &:after {
                content: '';
                position: absolute;
                display: inline-block;
                width: 5px;
                height: 100%;
                background-color: white;
                transform: scaleX(0);
                transform-origin: 0 0;
                transition: transform 0.5s cubic-bezier(0.16, 0.66, 0.46, 1.01);
                opacity: 1;
            }
            &:after {
                right: 0;
            }
            &:hover + .menu-item:before, &[name]:checked + .menu-item:before {
                transform: scaleX(1);
            }
            &:hover + .menu-item:after, &[name]:checked + .menu-item:after {
                transform: scaleX(1);
            }
            &:hover + .menu-item .menu-item-title:before, &[name]:checked + .menu-item .menu-item-title:before {
                transform: scaleY(1);
            }
            &:hover + .menu-item .menu-item-title:after, &[name]:checked + .menu-item .menu-item-title:after {
                transform: scaleY(1);
            }
            &[name]:checked ~ form {
                opacity: 1;
                transform: rotateY(0deg);
            }
        }
        .menu-item {
            display: block;
            color: white;
            &:before, &:after {
                content: '';
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 3px;
                background-image: linear-gradient(to right, white 10%, $GRADIENT-COLOR 90%);
                transform: scaleX(0);
                transform-origin: 0 0;
                transition: transform 0.5s cubic-bezier(0.16, 0.66, 0.46, 1.01);
            }
            &:after {
                transform-origin: 100% 100%;
                background-image: linear-gradient(to left, white 10%, $GRADIENT-COLOR 90%);
                bottom: 0;
                left: 0;
            }
            & > * {
                display: inline-block;
            }
            .menu-item-icon {
                width: 10%;
                font-size: x-large;
                margin-left: 10px;
            }
            .menu-item-title {
                width: 68%;
                margin-left: 1em;
                font-size: 1.5em;
                &:before, &:after {
                    position: absolute;
                    display: inline-block;
                    content: '';
                    height: 100%;
                    width: 3px;
                    background-image: linear-gradient(to top, $GRADIENT-COLOR 10%, white 90%);
                    left: 0;
                    transform: scaleY(0);
                    transform-origin: 0 100%;
                    transition: transform 0.25s 0.4s cubic-bezier(0.16, 0.66, 0.46, 1.01);
                }
                &:after {
                    background-image: linear-gradient(to bottom, $GRADIENT-COLOR 10%, white 90%);
                    transform-origin: 0 0;
                    right: 0;
                    left: initial;
                }
            }
            .more-icon {
                font-size: x-large;
            }
        }

        form {
            box-shadow: 4px 4px 10px 4px gray;
            border-radius: 2px;
            opacity: 0;
            padding: 1em;
            padding-top: 1.2em;
            width: 400px;
            position: absolute;
            z-index: $FORM-Z-INDEX;
            background-color: white;
            top: 0;
            left: 100%;
            line-height: initial;
            transition: opacity 0.4s linear, transform 0.6s cubic-bezier(0.1, 0.97, 0.36, 1.01);
            transform-origin: 0;
            transform: rotateY(70deg);
            input, textarea {
                width: 100%;
            }
        }
    }
}

#uploaded-files-container {
    position: fixed;
    display: none;
    min-width: 20%;
    top: 0;
    bottom: 0;
    right: -25%;
    height: 100%;
    background: white;
    z-index: 20;
    box-sizing: border-box;
    box-shadow: -1px 0px 10px grey;
    overflow-y: scroll;
    li {
        border-bottom: 1px solid rgb(225,225,225);
        line-height: 4em;
        display: block;
        &:hover, & input:checked {
            background: #e3e3e3;
        }
    }
    input:checked ~ i:before {
        content: '\f0a5';
    }
    span {
        display: inline-block;
        width: 85%;
        font-size: large;
        padding-left: 0.5em;
        vertical-align: middle;
    }
    i {
        width: 10%;
        text-align: center;
    }

    .fa-pulse {
        animation: fa-spin 1s infinite steps(8);
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.tabs-container {
    display: none;
    position: absolute;
    width: 90%;
    max-width: 90%;
    border-right: none;
    border-bottom: none;
    z-index: $TABS-CONTAINER-Z-INDEX;
    border-radius: 2px;
    background-color: transparent;

    .header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        border: 2px solid gray;
        background-color: white;
    }
    .header:hover {
        cursor: move;
    }

    .dataset-selection {
        @extend .pnl-dropdown-menu-right;
    }

    #load-more-container {
        visibility: hidden;
        @extend .pnl-dropdown-menu-bottom;
    }

    #load-more-toggler {
        margin-bottom: -5px;
    }

    #tools {
        @extend #load-more-container;
    }

    #select-a-tool-toggler {
        @extend #load-more-toggler;
    }

    #select-tool-done, #select-tool-cancel {
        visibility: hidden;
        width: 40px;
        line-height: 30px;
        font-size: 12px;
        text-align: center;
    }

    #select-tool-done i, #select-tool-cancel i {
        line-height: 30px;
    }

    #select-tool-cancel {
        margin-right: 10px;
    }


    #quantity {
        font-size: 15px;
        font-weight: bold;
        margin-top: 15px;
        vertical-align: top
    }

    #action-container {
        font-size: 20px;
        vertical-align: middle;
        width: 250px;
        text-align: right;

        & * {
            transition: background-color 0.2s linear;
            border: 2px solid gray;
            padding: 10px 14px;
            border-radius: 50%;
            line-height: 25px;
            margin: 3px;
        }

        & *:hover {
            background-color: #FF80AB;
            cursor: pointer;
        }
    }
    #add-roi, #upload-optical-image {
        display: none;
    }
    #refresh {
        transition: background-color 0.2s linear, transform 0.2s linear;
    }
    #refresh:hover {
        transform: rotate(180deg);
        background-color: #FF80AB;
    }
    .tabs {
        background-color: white;
        max-height: 500px;
        margin: 0;
        padding: 0;
        .tab:last-child {
            margin-bottom: 0;
            border-bottom: 2px solid gray;
        }
    }
    .tab-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -webkit-flexbox;
        display: flex;
        flex-direction: row;
    }
    .tab-item-container {
        width: 250px;
        text-align: center;
        line-height: 5em;
        font-size: medium;
        background-color: #E91E63;
        transition: background-color 0.2s linear;
        color: white;
        margin-bottom: 1px;
        border-left: 5px solid #3a3637;

        .tab-title {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        input[name='active-tab']:checked ~ .tab-title, input[name='active-tab']:hover ~ .tab-title {
            cursor: pointer;
            background-color: brown;
            border-bottom: none;
        }
    }

    .tab-content {
        width: 100%;
        max-height: 547px;
        border: 2px solid gray;
        border-top: none;
        background-color: white;
        overflow-y: scroll;
        & > * {
            display: none;
        }

        li {
            font-size: large;
            border-bottom: 1px solid rgb(225,225,225);
            display: flex;
            flex-direction: row-reverse;
            &:hover {
                background-color: rgba(173,216,230,0.5);
            }
        }

        input[name='file-to-graph']:checked ~ .plot-graph:before {
            content: '\f0a5' !important;
        }
        .file-name {
            width: 95%;
            display: inline-block;
            padding-left: 1em;
        }
        .plot-graph {
            width: 5%;
            padding-top: 1em;
        }
    }
    #excel-tab-content i {
        display: none;
    }
    #images-tab-content, #optical-tab-content, #rois-roiImages-tab-content {
        overflow-x:hidden;
        & > div {
            display: inline-block;
            margin: 20px auto 0px auto;
            text-align: center;
            margin-left: calc(calc(100% - 960px)/4);
        }

        .caption {
            font-size: 11px;
            font-weight: bold;
        }
    }
}

.buttons {
    z-index: 19;
    position: fixed;
    bottom: 5px;
    left: 10px;
    opacity: 0;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    transition: opacity 0.25s linear;
    &:hover {
        opacity: 1;
    }
    #tab-opener, #status-toggle {
        display:none;
        color: black;
        width: 45px;
        line-height: 42px;
        font-size: 25px;
        text-align: center;
        border: 2px solid gray; 
        background-color: white;
        z-index: 19;
        border-radius: 3px;
        margin: 5px;
        transition: background-color .25s linear;
        &:hover {
            background-color: lightblue;
            cursor: pointer;
        }
    }
    #tab-opener {
        i {
            transform: rotate(45deg);
        }
    }
    #status-toggle {
        width: 48px;
    }
    #status-toggle:focus {
        background-color: lightblue;
    }
    #status-toggle:focus + #status {
        transform: scale(1,1);
    }

    #status {
        background-color: white;
        position: absolute;
        bottom: 100%;
        left: 100%;
        width: 600px;
        border: 1px solid rgba(200,200,200,0.8);
        border-radius: 3px;
        transform-origin: 0 100%;
        transition: transform 0.25s linear;
        transform: scale(0,0);

        tr * {
            padding: 5px;
            text-align: center;
        }
    }
}
.buttons.fade-in {
    animation: fadeIn 400ms linear forwards;
}
@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
.nth-point-indicator {
    fill: none;
}
.nav-buttons {
    display: none;
    position: relative;
    width: 100px;
    margin: auto auto;
}
.app-dialog {
    display: none;
    position: absolute;
    width: 350px;
    box-shadow: 0px 0px 0px 1px #d3d3d3;
    border-radius: 3px;
    text-align: center;
    font-size: large;
    margin: auto auto;
    z-index: 12;
    background-color: white;
    padding-bottom: 5px;
    right: 30px;
    top: 20px;
}

.app-dialog {
    .app-dialog-header {
        border-bottom: 1px solid #d3d3d3;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        background-color: #ff9907;
        color: green;
        min-height: 50px;
    }
    .app-dialog-body {
        font-size: large;
        line-height: 30px;
        padding: 5px;
        padding-top: 10px;
    }
    .app-dialog-close-btn {
        right: 10px;
        top: 5px;
        position: absolute;
        @extend .close-btn;
    }
    button {
        transition: background-color .2s ease-in;
        width: 75px;
        margin: 5px;
    }
    button:hover {
        background-color: lightblue;
    }
}
.error-dialog {
    @extend .app-dialog;
    min-width: 350px;
    max-width: 800px;
    width: auto;
    position: fixed;
    bottom: 10px;
    top: initial;

    .app-dialog-body {
        text-align: left;
        padding: 15px;
        margin: 0;
        text-align: center;
    }
}
.toast {
    @extend .app-dialog;
    background-color: #007fff;
    color: white;
    position: fixed;
    top: initial;
    bottom:10px;
    z-index: 25;
}

.validation-error-dialog {
    bottom: initial;
    right: initial;
    z-index: 99;
    box-shadow: 2px 4px 10px 3px gray;
    width: 250px;
    :before {
        content: "";
        border: 15px solid transparent;
        border-left: 14px solid #d3d3d3;
        position: absolute;
        left: -28px;
        top: calc(calc(100% - 30px)/2);
        width: 25px;
        height: 25px;
        transform: rotate(180deg);
    }
    :after {
        content: "";
        border: 15px solid transparent;
        border-right: 18px solid white;
        position: absolute;
        left: -27px;
        top: calc(calc(100% - 30px)/2);
        width: 28px;
        height: 25px;
        transform: scale(0.7,0.7);
    }
    .app-dialog-body {
        line-height: 13px;
    }
    .app-dialog-header {
        display: none;
    }
}

#context-menu-dialog {
    width: 250px;
    padding-bottom: 0;
    position: absolute;
    float: none;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    border-radius: 1;
    .app-dialog-body {
        overflow: hidden;
        max-height: none;
        padding: 0;
        line-height: initial;
    }
    li {
        font-size: small;
        padding-left: 3em;
        line-height: 30px;
        vertical-align: middle;
        text-align: left;
        cursor: pointer;
        &:hover {
            background-color: lightblue;
        }
    }
    li:last-child {
        border-bottom: none; 
    }
}

.upload-optical-image-dialog {
    @extend .app-dialog;
    left: calc(calc(100% - 350px)/2);
    top: calc(calc(100% - 178px)/2);
    right: initial;
    z-index: 30;

    .app-dialog-header {
        background-color: #7EB2DD;
        color: white;
    }
    form {
        margin: 0;
        display: inline-block;
        line-height: 0px;
    }
}
.panel-int-mz {
    width: 40%;
    float: right;
    padding: 10px;
}

.panel-int-time {
    width: 40%;
    float: left;
    padding: 10px;
}

#ion-image-container svg g:hover {
    cursor: pointer;
}

#ion-image-container {
    position: relative;
    & > div, img {
        margin: 20px;
        display: inline-block;
    }
}

.publications {
    width: 80%;
    box-shadow: 0px 0px 2px 2px gray;
    margin-left: 10%;
    position: fixed;
    top: 5px;
    max-height: 98%;
    background: white;
    border-radius: 3px;
    font-family: "Times New Roman";
    overflow-y: scroll;
    overflow-x: hidden;
    display:none;
    z-index: $WINDOW-Z-INDEX;
    h4 {
        font-weight: bold;
    }
    .my-dialog-header *{
        display: inline-block;
        text-align: center;
    }
    .my-dialog-title {
        width: 95%;
        font-size: x-large;
        font-weight: bold;
    }
    .my-dialog-close-btn {
        @extend .close-btn;
        position: absolute;
        right: 10px;
    }
    .my-dialog-body {
        margin: 10px;
        opacity: 0;
        ul {
            margin: initial;
            padding-left: 40px;
        }
    }
    li a:hover {
        text-decoration: underline;
    }
    li {
        list-style-type: decimal;
        margin: initial;
        padding: initial;
        position: relative;
        line-height: initial;
        margin-bottom: 10px;
        position: relative;
        left: 500px;
        opacity: 0;
        line-height: 25px;
    }
}

.how-to {
    @extend .publications;
    opacity: 1;
    display: none;
    font-family: 'Open Sans',Arial,sans-serif;
    .my-dialog-body {
        opacity: 1;
        margin-left: 0px;
    }
    .my-dialog-close-btn {
        z-index:10;
    }
    li {
        opacity: 1;
        left: 0px;
    }
}
.panels {
    margin-top: 2em;
    .panel-row {
        display: flex;
        flex-direction: row;
    }
    .panel {
        box-shadow: 0px 0px 1.5px 1px #736B60;
        margin: 5px;
        flex-grow: 1;
        border-radius: 3px;
        width: 50%;
        border: none;
    }
    .panel-heading {
        background-color: #4BA3C3;
        color: white;
        border-color: #07c;
        box-shadow: inset 0 1px 0 #66bfff, 0px 1px 3px #736B60;
        padding: 5px 10px;
    }
    .panel-body {
        padding-bottom: 5px;
    }
    .panel-heading {
        display: flex;
        flex-direction: row;
    }
    .panel-title {
        flex-grow: 99;
    }
    .options {
        flex-grow: 1;
    }
    button {
        background-color: transparent;
        border: 2px solid #ccc;
        font-size: 1.1em;
    }
    #remove-images {
        color:white;
        font-size:1.2em;
        background-color: transparent;
        border: 2px solid #ccc;
    }
    #remove-images:hover {
        color: orange;
        background-color: #445E93;
    }
}

.contact-us {
    @extend .how-to;
    width: 30%;
    overflow: hidden;
    margin-left: 35%;
    top: 50%;
    .my-dialog-header {
        background-color: #7EB2DD;
        line-height: 2.5em;
    }
    .my-dialog-title {
        color: white;
        font-size: medium;
    }
    .my-dialog-body {
        margin: 0;
    }
    .envelop {
        font-size: xx-large;
        padding-left: 5px;
        display: inline-block;
        width: 10%;
        vertical-align: middle;
    }
    .email {
        display: inline-block;
        width: 80%;
        font-size: large;
        text-align: center;
    }
}

.warp-window {
    @extend .publications;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    opacity: 1;
    top: 20%;
    z-index: 6;
    cursor: move;
    overflow: hidden;


    canvas:hover {
        cursor: initial;
    }
    .my-dialog-body {
        opacity: 1;
        div {
            width: 320px;
            height: 235px;
            display: inline-block;
            margin: 20px;
            margin-bottom: 10px;
            position: relative;
        }
        canvas {
            width: 320px;
            height: 235px;
            position: absolute;
            top:0;
            left: 0;
        }
        img {
            width: 320px;
            height: 235px;
        }
    }
    button {
        background-color: #2e648a;
        color: white;
        box-shadow: inset 0 1px 0 #66bfff, 0px 1px 3px #736B60;
        display: block;
        width: 100px;
        line-height: 30px;
        border-radius: 3px;
        margin-top: 10px;
    }

    button:disabled {
        background-color: lightgray;
        cursor: not-allowed;
    }
    .clear {
        background-color: cornsilk;
        width: 80px;
        line-height: 20px;
        margin-top: 5px;
        float: right;
        clear: both;
        color: black;
    }
}

.overlay-window {
    @extend .tabs-container;
    margin: auto auto;
    top: 10%;
    left: 20%;
    width: 60%;
    #action-container {
        width: 100%;
    }

    .tab-body {
        background-color: white;
        max-height: 27em;
    }
    .image-names {
        width: 70%;
        border: 2px solid gray;
        border-right: none;
        border-top: none;
        max-height: 36em;
        min-height: 27em;
        overflow-y: scroll;
        & > div {
            line-height: 3em;
            border-bottom: 2px solid gray;
            padding: 5px;
            transition: background-color 0.2s linear;
        }
        & > div:hover {
            cursor: pointer;
            background-color: lightblue;
        }

        & > div:last-child {
            border-bottom: none;
        }
    }
    .overlay-images {
        width: 100%;
        position: relative;
        text-align: center;
        .overlay-images-container {
            width: 320px;
            height: 100%;
            margin: auto auto;
            display: block;
            position: relative;
        }
        svg, img {
            top: calc(calc(100% - 235px)/2);
            left: 0;
            position: absolute;
        }
    }
    canvas {
        height: 55px;
        width: 254px;
    }
    .color-map-selection {
        @extend .pnl-dropdown-menu-right;
        ul {
            box-shadow: 0px 0px 2px 2px gray;
        }
        li {
            padding-left: 0;
            line-height: initial;
            height: 55px;
            margin-bottom: 1px;
        }
    }
    .selected-image-name {
        background-color: lightblue;
    }
}
@media (max-width: 1200px) {
    .panels {
        .panel-row {
            display: flex;
            flex-direction: column;
        }
        .panel {
            width: 100%;
        }
    }
}

.roi-metadata {
    display: none;
    z-index: 100;
    position: absolute;
    background-color: white;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 5px 2px gray;
    border-radius: 2px;

    &:hover {
        cursor: move;
    }
}

.selected-image {
    box-shadow: 0px 0px 10px 20px orange;
}

#edit-account-details-dialog {
    @extend .upload-optical-image-dialog;
    width: 40%;
    left: calc((100% - 40%)/2);
    top: 0;
    h1 {
        font-size: x-large;
        font-weight: bold;
        color: red;
        margin: 0;
    }
    strong {
        font-size: small;
        display: block;
        margin-bottom: 1em;
        text-align: center;
    }
    .app-dialog-header-title {
        font-size: larger;
    }
    p {
        margin-bottom: 0px;
    }
    .app-dialog-body {
        margin-right: 0.5em;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .btn-group {
        margin-top: -1em;
    }
}

#edit-account-details-form {
    width: 100%;
    top: 0;
    label {
        color: black;
        width: 25%;
        line-height: 1.2em;
        height: 1.2em;
        position: relative;
        display: inline-block;
        text-align: right;
        margin-left: 0;
        margin-right: 1em;
        vertical-align: top;;
        font-size: medium;
    }

    input.form-control {
        padding-left: 0.5em;
        width: 70%;
        display: inline-block;
    }
    span {
        display: inline-block;
        width: 70%;
        font-size: 0.8em;
        text-align: left;
        line-height: 1.5em;
        vertical-align: baseline;
    }
    .form-group {
        margin-bottom: 1em;
    } 
}

#security-check-form {
    @extend #edit-account-details-form;
    .form-group {
        margin-bottom: 0.5em;
    }
    button#security-check {
        margin-bottom: 0;
        margin-top: 0;  
    }


}

.hint-dialog {
    @extend .app-dialog;
    @extend .validation-error-dialog;
    margin-right: 2em;
    width: initial;
    .app-dialog-body {
        font-size: medium;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.15em;
        text-align: justify;
        color: red;
    }
}

.security-questions-container {
    position: relative;
    display: inline-block;
    width: 70%;
    @extend .pnl-dropdown-menu-bottom;
    & > div {
        width: 100%;
        padding: 0;
    }
    & > div > a {
        width: 100%;
        display: inline-block;     
        margin: 0px;
        border: 2px solid rgba(200, 200, 200, 0.5);
        height: 40px;
        border-radius: 3px;
        i {
            width: 5%;
            text-align: right;
            height: 100%;
            vertical-align: middle;
            margin-top: -5px;
        }

        span {
            line-height: 25px;
            overflow: hidden;
            width: 95% !important;
            border-right: none;
            font-size: initial !important;
        }
    }

    ul {
        width: 110%;
        margin-left: 0px;
    }

    li {
        font-size: small;
        line-height: 35px;
        color: #000;
    }
    li:before {
        counter-increment: questionIndex;
        content: counter(questionIndex) ". ";
    }
    .form-control {
        margin-top: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
}