html {
    height: 100%;
}
body {
    margin: 0;
    overflow-x: hidden; /*Disabling horizontal overflow*/
    font-family: 'Open Sans',Arial,sans-serif;
}
header {
    font-size: 50px;
    text-shadow: 2px 2px 1.5px gray;
    color: #D81B60;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    z-index: 10;
    background: -webkit-linear-gradient(left, white, lightblue);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* global hover style for <a></a> elements */
a:hover {
    cursor: pointer;
    text-decoration: none;
}

.pnl-dropdown-menu-right {
    flex-grow: 3;
    ul {
        box-shadow: 2px 4px 10px 3px gray;
        width: 254px;
        position: absolute;
        display: none;
        background-color: white;
        margin-left: 5px;
        left: 252px;
        border-radius: 2px;
        top: 5px;
        padding-left: 0px;
        z-index: 10;
    }

    li {
        list-style-type: none;
        line-height: 40px;
        transition: background-color 0.2s linear;
        padding-left: 10px;
        color: #09f;
        &:hover {
            background-color: #efefef;
            cursor: pointer;
        }
    }
}
.pnl-dropdown-menu-toggler-right, #pnl-dropdown-menu-toggler-right {
    line-height: 30px;
    margin: 5px;
    width: 248px;
    text-align: left;
    display: flex;
    flex-direction: row;

    span {
        flex-grow: 2;
    }
    i {
        margin-top: 8px;
    }

}

.toggler {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    transition: background-color 0.2s linear;
    &:hover {
        cursor: pointer;
        background-color: rgba(0,256,256,0.25);
    }
    i {
        box-sizing: border-box;
        padding-top: 12px;
    }
}

nav {
    font-size: 21px;
    text-align: center;
    position: absolute;
    z-index: 10;

    & > * {
        width: 300px;
        position: absolute;
        line-height: 100px;
        border: 2px solid gray;
        border-radius: 3px;
        transition: background-color 0.2s linear;
        box-shadow: 4px 4px 10px gray;
        background-color: white;
        left: -300px;
        opacity: 0;
    }

    & > *:hover, .selected {
        background-color: lightblue;

        a {
            color: #7D4600;
        }
    }

    a {
        display: block;
    }
}
.close-btn {
    transition: transform 0.2s linear;
    font-size: x-large;
}
.close-btn:hover {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
    cursor: pointer;
}
form {
    margin: 3px;
    #file-name, #user-dir, #dataset-name, #optical-image {
        width: 275px;
    }
}

.form-container {
    box-shadow: 4px 4px 10px 4px gray;
    border-radius: 2px;
    display: none;
    padding: 30px;
    width: 400px;
    position: absolute;
    z-index: 30;
    background-color: white;
}

.tabs-container {
    display: none;
    position: absolute;
    width: 90%;
    max-width: 90%;
    border-right: none;
    border-bottom: none;
    z-index: 5;
    border-radius: 2px;
    background-color: transparent;

    .header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        border: 2px solid gray;
        background-color: white;
    }
    .header:hover {
        cursor: move;
    }

    .dataset-selection {
        @extend .pnl-dropdown-menu-right;
    }
    #dataset-selection-toggler {
        @extend #pnl-dropdown-menu-toggler-right;
    }
    #load-more-container {
        visibility: hidden;
        @extend .dataset-selection;
        & > div {
            display: inline-block;
        }
        ul {
            left: initial;
            top: initial;
            background-color: white;
            margin-top: 5px;
            z-index: 10;
        }
    }

    #load-more-toggler {
        @extend #dataset-selection-toggler;
        margin-bottom: -5px;
    }

    #tools {
        @extend #load-more-container;
    }

    #select-a-tool-toggler {
        @extend #load-more-toggler;
    }

    #select-tool-done, #select-tool-cancel {
        visibility: hidden;
        width: 40px;
        line-height: 30px;
        font-size: 12px;
        text-align: center;
    }

    #select-tool-done i, #select-tool-cancel i {
        line-height: 30px;
    }

    #select-tool-cancel {
        margin-right: 10px;
    }


    #quantity {
        font-size: 15px;
        font-weight: bold;
        margin-top: 15px;
        vertical-align: top
    }

    #action-container {
        font-size: 20px;
        vertical-align: middle;
        width: 250px;
        text-align: right;

        & * {
            transition: background-color 0.2s linear;
            border: 2px solid gray;
            padding: 10px 14px;
            border-radius: 50%;
            line-height: 25px;
            margin: 3px;
        }

        & *:hover {
            background-color: #FF80AB;
            cursor: pointer;
        }
    }
    #add-roi, #upload-optical-image {
        display: none;
    }
    #refresh {
        transition: background-color 0.2s linear, transform 0.2s linear;
    }
    #refresh:hover {
        transform: rotate(180deg);
        background-color: #FF80AB;
    }
    .tabs {
        background-color: white;
        max-height: 500px;
        .tab:last-child {
            margin-bottom: 0;
            border-bottom: 2px solid gray;
        }
    }
    .tab-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -webkit-flexbox;
        display: flex;
        flex-direction: row;
    }
    .tab {
        width: 250px;
        padding: 30px;
        text-align: center;
        font-size: medium;
        background-color: #E91E63;
        transition: background-color 0.2s linear;
        color: white;
        margin-bottom: 1px;
        border-left: 5px solid brown;
    }
    .tab:hover, .active-tab {
        cursor: pointer;
        background-color: lightblue;
        color: #333;
        border-bottom: none;
    }

    .tab-content {
        width: 100%;
        max-height: 547px;
        border: 2px solid gray;
        border-top: none;
        background-color: white;
        overflow-y: scroll;
        & > * {
            display: none;
        }
        ul {
            padding-left: 0px;
            margin-bottom: -10px;
        }
        li {
            box-sizing: border-box;
            list-style-type: none;
            line-height: 55px;
            padding: 0px 10px;
            border-bottom: 2px solid gray;
            font-size: large;

            .plot-graph {
                float: right;
                margin-top: 20px;
                margin-right: 20px;
                transition: transform 0.2s linear;
            }

            .plot-graph:hover {
                cursor: pointer;
                transform: scale(1.1,1.1);
            }
        }
    }

    #images-tab-content, #optical-tab-content, #rois-roiImages-tab-content {
        overflow-x:hidden;
        & > div {
            display: inline-block;
            margin: 20px auto 0px auto;
            text-align: center;
            margin-left: calc(calc(100% - 960px)/4);
        }

        .caption {
            font-size: 11px;
            font-weight: bold;
        }
    }
}

.buttons {
    z-index: 19;
    position: fixed;
    bottom: 5px;
    left: 10px;
    opacity: 0;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    transition: opacity 0.25s linear;
    &:hover {
        opacity: 1;
    }
    #tab-opener, #status-toggle {
        display:none;
        color: black;
        width: 45px;
        line-height: 42px;
        font-size: 25px;
        text-align: center;
        border: 2px solid gray; 
        background-color: white;
        z-index: 19;
        border-radius: 3px;
        margin: 5px;
        transition: background-color .25s linear;
        &:hover {
            background-color: lightblue;
            cursor: pointer;
        }
    }
    #tab-opener {
        i {
            transform: rotate(45deg);
        }
    }
    #status-toggle {
        width: 48px;
    }
    #status-toggle:focus {
        background-color: lightblue;
    }
    #status-toggle:focus + #status {
        transform: scale(1,1);
    }

    #status {
        background-color: white;
        position: absolute;
        bottom: 100%;
        left: 100%;
        width: 600px;
        border: 1px solid rgba(200,200,200,0.8);
        border-radius: 3px;
        transform-origin: 0 100%;
        transition: transform 0.25s linear;
        transform: scale(0,0);

        tr * {
            padding: 5px;
            text-align: center;
        }
    }
}
.buttons.fade-in {
    animation: fadeIn 400ms linear forwards;
}
@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}
.nth-point-indicator {
    fill: none;
}
.nav-buttons {
    display: none;
    position: relative;
    width: 100px;
    margin: auto auto;
}
.alert-dialog {
    display: none;
    position: absolute;
    width: 350px;
    box-shadow: 0px 0px 0px 1px #d3d3d3;
    border-radius: 3px;
    text-align: center;
    font-size: large;
    margin: auto auto;
    z-index: 12;
    background-color: white;
    padding-bottom: 5px;
    right: 30px;
    top: 20px;
}

.alert-dialog {
    .alert-dialog-header {
        border-bottom: 1px solid #d3d3d3;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        background-color: #ff9907;
        color: green;
        min-height: 50px;
    }
    .message-body {
        font-size: large;
        line-height: 30px;
        padding: 5px;
        padding-top: 10px;
    }
    .alert-dialog-header-close-action-icon {
        right: 10px;
        top: 5px;
        position: absolute;
        /*transition: transform .2s linear;*/
        @extend .close-btn;
    }
    button {
        transition: background-color .2s ease-in;
        width: 75px;
        margin: 5px;
    }
    button:hover {
        background-color: lightblue;
    }
}
.error-dialog {
    @extend .alert-dialog;
    min-width: 350px;
    max-width: 800px;
    width: auto;
    position: fixed;
    bottom: 10px;
    top: initial;

    .message-body {
        text-align: left;
        padding: 15px;
        margin: 0;
        text-align: center;
    }
}
.notification-dialog {
    @extend .alert-dialog;
    background-color: #007fff;
    color: white;
    position: fixed;
    top: initial;
    bottom:10px;
}

.add-roi-dialog {
    @extend .notification-dialog;
    background-color: white;
    color: black;

    .add-roi-dialog-header {
        background-color: #007fff;
        color: white;
    }
}
.file-selection-dialog {
    @extend .alert-dialog;
    position: initial;
    float: right;
    padding-bottom: 0;
    .message-body {
        overflow-y: auto;
        max-height: 200px;
        min-height: 30px;
    }

    .file-selection-dialog-header {
        background-color: lightblue;
        font-weight: bold;
    }
    .file-selection-dialog-header:hover {
        cursor: move;
    }
    ul {
        margin: 0;
        margin-left: -5px;
        margin-right: -5px;      
    }
    li {
        position: relative;
        list-style-type: none;
        text-align: left;
        margin: 0;
        line-height: 45px;
        display: block;
        margin-left: -2.2em;
        padding-left: 30px;
        border-bottom: 1px solid #d3d3d3;
        transition: background-color .18s ease-in;
    }
    li:first-child {
        margin-top: -10px;
    }
    li:last-child {
        margin-bottom: -9.5px;
        border-bottom: none;
    }
    li:hover {
        background: #e3e3e3;
        cursor:  pointer;
    }
}
.validation-error-dialog {
    bottom: initial;
    right: initial;
    z-index: 99;
    box-shadow: 2px 4px 10px 3px gray;
    width: 250px;
    :before {
        content: "";
        border: 15px solid transparent;
        border-left: 14px solid #d3d3d3;
        position: absolute;
        left: -28px;
        top: 1px;
        width: 25px;
        height: 25px;
        transform: rotate(180deg);
    }
    :after {
        content: "";
        border: 15px solid transparent;
        border-right: 18px solid white;
        position: absolute;
        left: -27px;
        top: 1px;
        width: 28px;
        height: 25px;
        transform: scale(0.7,0.7);
    }
    .message-body {
        line-height: 13px;
    }
    .alert-dialog-header {
        display: none;
    }
}
.context-menu-dialog {
    @extend .file-selection-dialog;
    width: 250px;
    padding-bottom: 0;
    position: absolute;
    float: none;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    .message-body {
        overflow: hidden;
        max-height: none;
    }
    li {
        font-size: small;
        margin-left: -3.1em;
        line-height: 30px;
    }
    li:first-child {
        margin-top: -10px; 
    }
    li:last-child {
        margin-bottom: -5px;
        border-bottom: none; 
    }
}

.upload-optical-image-dialog {
    @extend .alert-dialog;
    top: 50%;
    left: calc(calc(100% - 350px)/2);
    top: calc(calc(100% - 178px)/2);
    right: initial;
    z-index: 30;
    
    .alert-dialog-header {
        background-color: #7EB2DD;
        color: white;
    }
    form {
        margin: 0;
        display: inline-block;
        line-height: 0px;
    }
}
.panel-int-mz {
    width: 40%;
    float: right;
    padding: 10px;
}

.panel-int-time {
    width: 40%;
    float: left;
    padding: 10px;
}

#ion-image-container svg g:hover {
    cursor: pointer;
}

#ion-image-container {
    position: relative;
    & > div, img {
        margin: 20px;
        display: inline-block;
    }
}

.publications {
    width: 80%;
    box-shadow: 0px 0px 2px 2px gray;
    margin-left: 10%;
    position: absolute;
    top: 5px;
    max-height: 98%;
    background: white;
    border-radius: 3px;
    font-family: "Times New Roman";
    overflow-y: scroll;
    overflow-x: hidden;
    display:none;
    opacity: 0;
    h4 {
        font-weight: bold;
    }
    .my-dialog-header *{
        display: inline-block;
        text-align: center;
    }
    .my-dialog-title {
        width: 95%;
        font-size: x-large;
        font-weight: bold;
    }
    .my-dialog-close-btn {
        @extend .close-btn;
        position: absolute;
        right: 10px;
    }
    .my-dialog-body {
        margin: 10px;
        opacity: 0;
    }
    li a:hover {
        text-decoration: underline;
    }
    li {
        margin-bottom: 10px;
        position: relative;
        left: 500px;
        opacity: 0;
    }
}

.how-to {
    @extend .publications;
    opacity: 1;
    display: none;
    font-family: 'Open Sans',Arial,sans-serif;
    .my-dialog-body {
        opacity: 1;
        margin-left: 0px;
    }
    .my-dialog-close-btn {
        z-index:10;
    }
    li {
        opacity: 1;
        left: 0px;
    }
}
.panels {
    .panel-row {
        display: flex;
        flex-direction: row;
    }
    .panel {
        box-shadow: 0px 0px 1.5px 1px #736B60;
        margin: 5px;
        flex-grow: 1;
        border-radius: 3px;
        width: 50%;
        border: none;
    }
    .panel-heading {
        background-color: #4BA3C3;
        color: white;
        border-color: #07c;
        box-shadow: inset 0 1px 0 #66bfff, 0px 1px 3px #736B60;
        padding: 5px 10px;
    }
    .panel-body {
        padding-bottom: 5px;
    }
    .panel-heading {
        display: flex;
        flex-direction: row;
    }
    .panel-title {
        flex-grow: 99;
    }
    .options {
        flex-grow: 1;
    }
    button {
        background-color: transparent;
        border: 2px solid #ccc;
        font-size: 1.1em;
    }
    #remove-images {
        color:white;
        font-size:1.2em;
        background-color: transparent;
        border: 2px solid #ccc;
    }
    #remove-images:hover {
        color: orange;
        background-color: #445E93;
    }
}

.contact-us {
    @extend .how-to;
    width: 30%;
    overflow: hidden;
    margin-left: 35%;
    top: 50%;
    .my-dialog-header {
        background-color: #7EB2DD;
        line-height: 2.5em;
    }
    .my-dialog-title {
        color: white;
        font-size: medium;
    }
    .my-dialog-body {
        margin: 0;
    }
    .envelop {
        font-size: xx-large;
        padding-left: 5px;
        display: inline-block;
        width: 10%;
        vertical-align: middle;
    }
    .email {
        display: inline-block;
        width: 80%;
        font-size: large;
        text-align: center;
    }
}

.warp-window {
    @extend .publications;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    opacity: 1;
    top: 20%;
    z-index: 6;
    cursor: move;
    overflow: hidden;


    canvas:hover {
        cursor: initial;
    }
    .my-dialog-body {
        opacity: 1;
        div {
            width: 320px;
            height: 235px;
            display: inline-block;
            margin: 20px;
            margin-bottom: 10px;
            position: relative;
        }
        canvas {
            width: 320px;
            height: 235px;
            position: absolute;
            top:0;
            left: 0;
        }
        img {
            width: 320px;
            height: 235px;
        }
    }
    button {
        background-color: #2e648a;
        color: white;
        box-shadow: inset 0 1px 0 #66bfff, 0px 1px 3px #736B60;
        display: block;
        width: 100px;
        line-height: 30px;
        border-radius: 3px;
        margin-top: 10px;
    }

    button:disabled {
        background-color: lightgray;
        cursor: not-allowed;
    }
    .clear {
        background-color: cornsilk;
        width: 80px;
        line-height: 20px;
        margin-top: 5px;
        float: right;
        clear: both;
        color: black;
    }
}

.overlay-window {
    @extend .tabs-container;
    margin: auto auto;
    top: 10%;
    left: 20%;
    width: 60%;
    #action-container {
        width: 100%;
        i {
            float: right;
        }
    }

    .tab-body {
        background-color: white;
        max-height: 27em;
    }
    .image-names {
        width: 70%;
        border: 2px solid gray;
        border-right: none;
        border-top: none;
        max-height: 36em;
        min-height: 27em;
        overflow-y: scroll;
        & > div {
            line-height: 3em;
            border-bottom: 2px solid gray;
            padding: 5px;
            transition: background-color 0.2s linear;
        }
        & > div:hover {
            cursor: pointer;
            background-color: lightblue;
        }

        & > div:last-child {
            border-bottom: none;
        }
    }
    .overlay-images {
        width: 100%;
        position: relative;
        text-align: center;
        .overlay-images-container {
            width: 320px;
            height: 100%;
            margin: auto auto;
            display: block;
            position: relative;
        }
        svg, img {
            top: calc(calc(100% - 235px)/2);
            left: 0;
            position: absolute;
        }
    }
    canvas {
        height: 55px;
        width: 254px;
    }
    .color-map-selection {
        @extend .pnl-dropdown-menu-right;
        ul {
            box-shadow: 0px 0px 2px 2px gray;
        }
        li {
            padding-left: 0;
            line-height: initial;
            height: 55px;
            margin-bottom: 1px;
        }
    }
    #color-map-selection-toggler {
        @extend #pnl-dropdown-menu-toggler-right;
    }
    .selected-image-name {
        background-color: lightblue;
    }
}
@media (max-width: 1200px) {
    .panels {
        .panel-row {
            display: flex;
            flex-direction: column;
        }
        .panel {
            width: 100%;
        }
    }
}

.roi-metadata {
    display: none;
    z-index: 10;
    position: absolute;
    background-color: white;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 5px 2px gray;
    border-radius: 2px;

    &:hover {
        cursor: move;
    }
}

.selected-image {
    box-shadow: 0px 0px 10px 20px orange;
}