body {
    margin: 0;
}
form {
    width: 500px;
    margin: 3px;
}
#file-name, #user-dir {
    width: 275px;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.75px;
}
.nth-point-indicator {
    fill: none;
}
.nav-buttons {
    display: none;
    position: relative;
    width: 100px;
    margin: auto auto;
}
.alert-dialog {
    display: none;
    position: absolute;
    width: 350px;
    box-shadow: 0px 0px 0px 1px #d3d3d3;
    border-radius: 3px;
    text-align: center;
    font-size: large;
    margin: auto auto;
    z-index: 12;
    background-color: white;
    padding-bottom: 5px;
    right: 10px;
    bottom: 10px;
    z-index: 9;
}

.alert-dialog {
    .alert-dialog-header {
        border-bottom: 1px solid #d3d3d3;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        background: #ff9907;
        color: green;
        min-height: 50px;
    }
    .message-body {
        font-size: large;
        line-height: 30px;
        padding: 5px;
        padding-top: 10px;
    }
    .alert-dialog-header-close-action-icon {
        right: 10px;
        top: 5px;
        position: absolute;
        transition: transform .2s linear;
    }
    .alert-dialog-header-close-action-icon:hover {
        transform-origin: 50% 50%;
        transform: rotate(90deg);
        cursor: pointer;
    }
    button {
        transition: background-color .2s ease-in;
        width: 75px;
        margin: 5px;
    }
    button:hover {
        background-color: lightblue;
    }
}
.error-dialog {
    @extend .alert-dialog;
}
.file-selection-dialog {
    @extend .alert-dialog;
    .file-selection-dialog-header {
        background-color: lightblue;
        font-weight: bold;
    }
    .file-selection-dialog-header:hover {
        cursor: move;
    }
    ul {
        margin: 0;
        margin-left: -5px;
        margin-right: -5px;
    }
    li {
        position: relative;
        list-style-type: none;
        text-align: left;
        margin: 0;
        line-height: 45px;
        display: block;
        margin-left: -2.2em;
        padding-left: 30px;
        border-bottom: 1px solid #d3d3d3;
        transition: background-color .18s ease-in;
    }
    li:first-child {
        margin-top: -10px;
    }
    li:last-child {
        margin-bottom: -9.5px;
        border-bottom: none;
    }
    li:hover {
        background: #e3e3e3;
        cursor:  pointer;
    }
}
.validation-error-dialog {
    bottom: initial;
    right: initial;

    :before {
        content: "";
        border: 15px solid transparent;
        border-left: 14px solid #d3d3d3;
        position: absolute;
        left: -28px;
        top: 1px;
        width: 25px;
        height: 25px;
        transform: rotate(180deg);
    }
    :after {
        content: "";
        border: 15px solid transparent;
        border-right: 18px solid white;
        position: absolute;
        left: -27px;
        top: 1px;
        width: 28px;
        height: 25px;
        transform: scale(0.7,0.7);
    }
    .message-body {
        line-height: 13px;
    }
    .alert-dialog-header {
        display: none;
    }
}
.context-menu-dialog {
    @extend .file-selection-dialog;
    width: 250px;
    padding-bottom: 0;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    z-index: 19;
    .alert-dialog-header {
        display: none;
    }
    li {
        font-size: small;
        margin-left: -3.1em;
        line-height: 30px;
    }
    li:first-child {
        margin-top: -10px; 
    }
    li:last-child {
        margin-bottom: -5px;
        border-bottom: none; 
    }
}