body {
    margin: 0;
    overflow-x: hidden; /*Disabling horizontal overflow*/
    font-family: 'Open Sans',Arial,sans-serif;
}
header {
    font-size: 50px;
    text-shadow: 2px 2px 1.5px gray;
    color: #D81B60;
    display: inline-block;
    width: 90%;
    vertical-align: middle;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    z-index: 10;
    background: -webkit-linear-gradient(left, white, lightblue);
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/* global hover style for <a></a> elements */
a:hover {
    cursor: pointer;
    text-decoration: none;
}

.toggler {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 50%;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    margin: 10px;
    transition: background-color 0.2s linear;
    &:hover {
        cursor: pointer;
        background-color: rgba(0,256,256,0.25);
    }
    i {
        box-sizing: border-box;
        padding-top: 12px;
    }
}

nav {
    font-size: 21px;
    text-align: center;
    position: absolute;
    z-index: 10;

    & > * {
        width: 300px;
        position: absolute;
        line-height: 100px;
        border: 2px solid gray;
        border-radius: 3px;
        transition: background-color 0.2s linear;
        box-shadow: 4px 4px 10px gray;
        background-color: white;
        left: -300px;
        opacity: 0;
    }

    & > *:hover, .selected {
        background-color: lightblue;

        a {
            color: #7D4600;
        }
    }

    a {
        display: block;
    }
}
.close-btn {
    transition: transform 0.2s linear;
    font-size: x-large;
}
.close-btn:hover {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
    cursor: pointer;
}
form {
    margin: 3px;
    #file-name, #user-dir, #dataset-name {
        width: 275px;
    }
}

.form-container {
    box-shadow: 4px 4px 10px 4px gray;
    border-radius: 2px;
    display: none;
    padding: 30px;
    width: 400px;
    position: absolute;
    z-index: 30;
    background-color: white;
}

.tabs-container {
    display: none;
    position: absolute;
    width: 1000px;
    max-width: 1000px;
    max-height: 392px;
    border: 2px solid gray;
    border-right: none;
    border-bottom: none;
    z-index: 5;
    border-radius: 2px;
    background-color: white;

    .header {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid pink;
        border-right: 2px solid gray;
    }
    .header:hover {
        cursor: move;
    }

    .dataset-selection {
        flex-grow: 3;
        ul {
            box-shadow: 2px 4px 10px 3px gray;
            width: 254px;
            position: absolute;
            display: none;
            background-color: white;
            margin-left: 5px;
            left: 252px;
            border-radius: 2px;
            top: 5px;
            padding-left: 0px;
            z-index: 10;
        }

        li {
            list-style-type: none;
            line-height: 40px;
            transition: background-color 0.2s linear;
            padding-left: 10px;
            color: #09f;
            &:hover {
                background-color: #efefef;
                cursor: pointer;
            }
        }
    }

    #dataset-selection-toggler {
        line-height: 30px;
        margin: 5px;
        width: 248px;
        text-align: left;
        display: flex;
        flex-direction: row;

        span {
            flex-grow: 2;
        }
        i {
            margin-top: 8px;
        }
        
    }
    #load-more-container {
        visibility: hidden;
        @extend .dataset-selection;
        & > div {
            display: inline-block;
        }
        ul {
            left: initial;
            top: initial;
            background-color: white;
            margin-top: 5px;
            z-index: 10;
        }
    }

    #load-more-toggler {
        @extend #dataset-selection-toggler;
        margin-bottom: -5px;
    }

    #quantity {
        font-size: 15px;
        font-weight: bold;
        margin-top: 15px;
        vertical-align: top
    }

    #action-container {
        font-size: 20px;
        vertical-align: middle;

        & * {
            transition: background-color 0.2s linear;
            border: 2px solid gray;
            padding: 10px 14px;
            border-radius: 50%;
            line-height: 25px;
            margin: 3px;
        }
        
        & *:hover {
            background-color: #FF80AB;
            cursor: pointer;
        }
    }

    #refresh {
        transition: background-color 0.2s linear, transform 0.2s linear;
    }
    #refresh:hover {
        transform: rotate(180deg);
        background-color: #FF80AB;
    }
    .tabs {
        .tab:last-child {
            margin-bottom: 0;
            border-bottom: 2px solid gray;
        }
    }
    .tab-body {
        display: -webkit-box;
        display: -webkit-flex;
        display: -webkit-flexbox;
        display: flex;
        flex-direction: row;
    }
    .tab {
        width: 250px;
        padding: 30px;
        text-align: center;
        font-size: medium;
        background-color: #E91E63;
        transition: background-color 0.2s linear;
        color: white;
        margin-bottom: 1px;
    }
    .tab:hover, .active-tab {
        cursor: pointer;
        background-color: rgba(230,230,230,0.785454);
        color: #333;
        border-bottom: none;
    }

    .tab-content {
        width: 100%;
        max-height: 547px;
        border: 2px solid gray;
        border-top: none;
        background-color: white;
        overflow-y: scroll;
        & > * {
            display: none;
        }
        ul {
            padding-left: 0px;
            margin-bottom: -10px;
        }
        li {
            box-sizing: border-box;
            list-style-type: none;
            line-height: 55px;
            padding: 0px 10px;
            border-bottom: 2px solid gray;
            font-size: large;

            .plot-graph {
                float: right;
                margin-top: 20px;
                margin-right: 20px;
                transition: transform 0.2s linear;
            }

            .plot-graph:hover {
                cursor: pointer;
                transform: scale(1.1,1.1);
            }
        }
    }

    #images-tab-content {
        overflow-x:hidden;
        & > div {
            display: inline-block;
            padding: 30px;
            padding-bottom: 0;
            text-align: center;
        }

        .caption {
            font-size: 11px;
            font-weight: bold;
        }
    }
}

#tab-opener {
    display: none;
    position:fixed; 
    bottom: 10px;
    width: 45px;
    line-height: 42px;
    margin-left: 10px;
    font-size: 25px;
    text-align: center;
    border: 2px solid gray; 
    background-color: white;
    z-index: 19;
    border-radius: 3px;
    &:hover {
        background-color: lightblue;
        cursor: pointer;
    }
    i {
        transform: rotate(45deg);
    }
}
.nth-point-indicator {
    fill: none;
}
.nav-buttons {
    display: none;
    position: relative;
    width: 100px;
    margin: auto auto;
}
.alert-dialog {
    display: none;
    position: absolute;
    width: 350px;
    box-shadow: 0px 0px 0px 1px #d3d3d3;
    border-radius: 3px;
    text-align: center;
    font-size: large;
    margin: auto auto;
    z-index: 12;
    background-color: white;
    padding-bottom: 5px;
    right: 30px;
    top: 20px;
}

.alert-dialog {
    .alert-dialog-header {
        border-bottom: 1px solid #d3d3d3;
        padding: 10px;
        margin-left: 0;
        margin-right: 0;
        background: #ff9907;
        color: green;
        min-height: 50px;
    }
    .message-body {
        font-size: large;
        line-height: 30px;
        padding: 5px;
        padding-top: 10px;
    }
    .alert-dialog-header-close-action-icon {
        right: 10px;
        top: 5px;
        position: absolute;
        /*transition: transform .2s linear;*/
        @extend .close-btn;
    }
    button {
        transition: background-color .2s ease-in;
        width: 75px;
        margin: 5px;
    }
    button:hover {
        background-color: lightblue;
    }
}
.error-dialog {
    @extend .alert-dialog;
    min-width: 350px;
    max-width: 800px;
    width: auto;
    .message-body {
        text-align: left;
        padding: 15px;
        margin: 0;
        text-align: center;
    }
}
.notification-dialog {
    @extend .alert-dialog;
    background-color: #007fff;
    color: white;
    position: fixed;
    top: initial;
    bottom:10px;
}
.file-selection-dialog {
    @extend .alert-dialog;
    position: initial;
    float: right;
    padding-bottom: 0;
    .message-body {
        overflow-y: auto;
        max-height: 200px;
        min-height: 30px;
    }

    .file-selection-dialog-header {
        background-color: lightblue;
        font-weight: bold;
    }
    .file-selection-dialog-header:hover {
        cursor: move;
    }
    ul {
        margin: 0;
        margin-left: -5px;
        margin-right: -5px;      
    }
    li {
        position: relative;
        list-style-type: none;
        text-align: left;
        margin: 0;
        line-height: 45px;
        display: block;
        margin-left: -2.2em;
        padding-left: 30px;
        border-bottom: 1px solid #d3d3d3;
        transition: background-color .18s ease-in;
    }
    li:first-child {
        margin-top: -10px;
    }
    li:last-child {
        margin-bottom: -9.5px;
        border-bottom: none;
    }
    li:hover {
        background: #e3e3e3;
        cursor:  pointer;
    }
}
.validation-error-dialog {
    bottom: initial;
    right: initial;
    z-index: 99;
    box-shadow: 2px 4px 10px 3px gray;
    :before {
        content: "";
        border: 15px solid transparent;
        border-left: 14px solid #d3d3d3;
        position: absolute;
        left: -28px;
        top: 1px;
        width: 25px;
        height: 25px;
        transform: rotate(180deg);
    }
    :after {
        content: "";
        border: 15px solid transparent;
        border-right: 18px solid white;
        position: absolute;
        left: -27px;
        top: 1px;
        width: 28px;
        height: 25px;
        transform: scale(0.7,0.7);
    }
    .message-body {
        line-height: 13px;
    }
    .alert-dialog-header {
        display: none;
    }
}
.context-menu-dialog {
    @extend .file-selection-dialog;
    width: 250px;
    padding-bottom: 0;
    position: absolute;
    float: none;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    .message-body {
        overflow: hidden;
        max-height: none;
    }
    li {
        font-size: small;
        margin-left: -3.1em;
        line-height: 30px;
    }
    li:first-child {
        margin-top: -10px; 
    }
    li:last-child {
        margin-bottom: -5px;
        border-bottom: none; 
    }
}

.panel-int-mz {
    width: 40%;
    float: right;
    padding: 10px;
}

.panel-int-time {
    width: 40%;
    float: left;
    padding: 10px;
}

#ion-image-container svg g:hover {
    cursor: pointer;
}