html {
  height: 100%; }

body {
  margin: 0;
  overflow-x: hidden;
  /*Disabling horizontal overflow*/
  font-family: 'Open Sans',Arial,sans-serif; }

header {
  font-size: 50px;
  text-shadow: 2px 2px 1.5px gray;
  color: #D81B60;
  display: inline-block;
  width: 90%;
  vertical-align: middle; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  z-index: 10;
  background: -webkit-linear-gradient(left, white, lightblue); }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

/* global hover style for <a></a> elements */
a:hover {
  cursor: pointer;
  text-decoration: none; }

.pnl-dropdown-menu-right, .tabs-container .dataset-selection, .overlay-window .dataset-selection, .tabs-container #load-more-container, .overlay-window #load-more-container, .tabs-container #tools, .overlay-window #tools, .overlay-window .color-map-selection {
  flex-grow: 3; }
  .pnl-dropdown-menu-right ul, .tabs-container .dataset-selection ul, .overlay-window .dataset-selection ul, .tabs-container #load-more-container ul, .overlay-window #load-more-container ul, .tabs-container #tools ul, .overlay-window #tools ul, .overlay-window .color-map-selection ul {
    box-shadow: 2px 4px 10px 3px gray;
    width: 254px;
    position: absolute;
    display: none;
    background-color: white;
    margin-left: 5px;
    left: 252px;
    border-radius: 2px;
    top: 5px;
    padding-left: 0px;
    z-index: 10; }
  .pnl-dropdown-menu-right li, .tabs-container .dataset-selection li, .overlay-window .dataset-selection li, .tabs-container #load-more-container li, .overlay-window #load-more-container li, .tabs-container #tools li, .overlay-window #tools li, .overlay-window .color-map-selection li {
    list-style-type: none;
    line-height: 40px;
    transition: background-color 0.2s linear;
    padding-left: 10px;
    color: #09f; }
    .pnl-dropdown-menu-right li:hover, .tabs-container .dataset-selection li:hover, .overlay-window .dataset-selection li:hover, .tabs-container #load-more-container li:hover, .overlay-window #load-more-container li:hover, .tabs-container #tools li:hover, .overlay-window #tools li:hover, .overlay-window .color-map-selection li:hover {
      background-color: #efefef;
      cursor: pointer; }

.pnl-dropdown-menu-toggler-right, #pnl-dropdown-menu-toggler-right, .tabs-container #dataset-selection-toggler, .overlay-window #dataset-selection-toggler, .tabs-container #load-more-toggler, .overlay-window #load-more-toggler, .tabs-container #select-a-tool-toggler, .overlay-window #select-a-tool-toggler, .overlay-window #color-map-selection-toggler {
  line-height: 30px;
  margin: 5px;
  width: 248px;
  text-align: left;
  display: flex;
  flex-direction: row; }
  .pnl-dropdown-menu-toggler-right span, #pnl-dropdown-menu-toggler-right span, .tabs-container #dataset-selection-toggler span, .overlay-window #dataset-selection-toggler span, .tabs-container #load-more-toggler span, .overlay-window #load-more-toggler span, .tabs-container #select-a-tool-toggler span, .overlay-window #select-a-tool-toggler span, .overlay-window #color-map-selection-toggler span {
    flex-grow: 2; }
  .pnl-dropdown-menu-toggler-right i, #pnl-dropdown-menu-toggler-right i, .tabs-container #dataset-selection-toggler i, .overlay-window #dataset-selection-toggler i, .tabs-container #load-more-toggler i, .overlay-window #load-more-toggler i, .tabs-container #select-a-tool-toggler i, .overlay-window #select-a-tool-toggler i, .overlay-window #color-map-selection-toggler i {
    margin-top: 8px; }

.toggler {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 2px solid gray;
  border-radius: 50%;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  transition: background-color 0.2s linear; }
  .toggler:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.25); }
  .toggler i {
    box-sizing: border-box;
    padding-top: 12px; }

nav {
  font-size: 21px;
  text-align: center;
  position: absolute;
  z-index: 10; }
  nav > * {
    width: 300px;
    position: absolute;
    line-height: 100px;
    border: 2px solid gray;
    border-radius: 3px;
    transition: background-color 0.2s linear;
    box-shadow: 4px 4px 10px gray;
    background-color: white;
    left: -300px;
    opacity: 0; }
  nav > *:hover, nav .selected {
    background-color: lightblue; }
    nav > *:hover a, nav .selected a {
      color: #7D4600; }
  nav a {
    display: block; }

.close-btn, .alert-dialog .alert-dialog-header-close-action-icon, .error-dialog .alert-dialog-header-close-action-icon, .notification-dialog .alert-dialog-header-close-action-icon, .add-roi-dialog .alert-dialog-header-close-action-icon, .file-selection-dialog .alert-dialog-header-close-action-icon, .context-menu-dialog .alert-dialog-header-close-action-icon, .upload-optical-image-dialog .alert-dialog-header-close-action-icon, .publications .my-dialog-close-btn, .how-to .my-dialog-close-btn, .contact-us .my-dialog-close-btn, .warp-window .my-dialog-close-btn {
  transition: transform 0.2s linear;
  font-size: x-large; }

.close-btn:hover, .alert-dialog .alert-dialog-header-close-action-icon:hover, .error-dialog .alert-dialog-header-close-action-icon:hover, .notification-dialog .alert-dialog-header-close-action-icon:hover, .add-roi-dialog .alert-dialog-header-close-action-icon:hover, .file-selection-dialog .alert-dialog-header-close-action-icon:hover, .context-menu-dialog .alert-dialog-header-close-action-icon:hover, .upload-optical-image-dialog .alert-dialog-header-close-action-icon:hover, .publications .my-dialog-close-btn:hover, .how-to .my-dialog-close-btn:hover, .contact-us .my-dialog-close-btn:hover, .warp-window .my-dialog-close-btn:hover {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  cursor: pointer; }

form {
  margin: 3px; }
  form #file-name, form #user-dir, form #dataset-name, form #optical-image {
    width: 275px; }

.form-container {
  box-shadow: 4px 4px 10px 4px gray;
  border-radius: 2px;
  display: none;
  padding: 30px;
  width: 400px;
  position: absolute;
  z-index: 30;
  background-color: white; }

.tabs-container, .overlay-window {
  display: none;
  position: absolute;
  width: 90%;
  max-width: 90%;
  border-right: none;
  border-bottom: none;
  z-index: 5;
  border-radius: 2px;
  background-color: transparent; }
  .tabs-container .header, .overlay-window .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    background-color: white; }
  .tabs-container .header:hover, .overlay-window .header:hover {
    cursor: move; }
  .tabs-container #load-more-container, .overlay-window #load-more-container, .tabs-container #tools, .overlay-window #tools {
    visibility: hidden; }
    .tabs-container #load-more-container > div, .overlay-window #load-more-container > div, .tabs-container #tools > div, .overlay-window #tools > div {
      display: inline-block; }
    .tabs-container #load-more-container ul, .overlay-window #load-more-container ul, .tabs-container #tools ul, .overlay-window #tools ul {
      left: initial;
      top: initial;
      background-color: white;
      margin-top: 5px;
      z-index: 10; }
  .tabs-container #load-more-toggler, .overlay-window #load-more-toggler, .tabs-container #select-a-tool-toggler, .overlay-window #select-a-tool-toggler {
    margin-bottom: -5px; }
  .tabs-container #select-tool-done, .overlay-window #select-tool-done, .tabs-container #select-tool-cancel, .overlay-window #select-tool-cancel {
    visibility: hidden;
    width: 40px;
    line-height: 30px;
    font-size: 12px;
    text-align: center; }
  .tabs-container #select-tool-done i, .overlay-window #select-tool-done i, .tabs-container #select-tool-cancel i, .overlay-window #select-tool-cancel i {
    line-height: 30px; }
  .tabs-container #select-tool-cancel, .overlay-window #select-tool-cancel {
    margin-right: 10px; }
  .tabs-container #quantity, .overlay-window #quantity {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    vertical-align: top; }
  .tabs-container #action-container, .overlay-window #action-container {
    font-size: 20px;
    vertical-align: middle;
    width: 250px;
    text-align: right; }
    .tabs-container #action-container *, .overlay-window #action-container * {
      transition: background-color 0.2s linear;
      border: 2px solid gray;
      padding: 10px 14px;
      border-radius: 50%;
      line-height: 25px;
      margin: 3px; }
    .tabs-container #action-container *:hover, .overlay-window #action-container *:hover {
      background-color: #FF80AB;
      cursor: pointer; }
  .tabs-container #add-roi, .overlay-window #add-roi, .tabs-container #upload-optical-image, .overlay-window #upload-optical-image {
    display: none; }
  .tabs-container #refresh, .overlay-window #refresh {
    transition: background-color 0.2s linear, transform 0.2s linear; }
  .tabs-container #refresh:hover, .overlay-window #refresh:hover {
    transform: rotate(180deg);
    background-color: #FF80AB; }
  .tabs-container .tabs, .overlay-window .tabs {
    background-color: white;
    max-height: 500px; }
    .tabs-container .tabs .tab:last-child, .overlay-window .tabs .tab:last-child {
      margin-bottom: 0;
      border-bottom: 2px solid gray; }
  .tabs-container .tab-body, .overlay-window .tab-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -webkit-flexbox;
    display: flex;
    flex-direction: row; }
  .tabs-container .tab, .overlay-window .tab {
    width: 250px;
    padding: 30px;
    text-align: center;
    font-size: medium;
    background-color: #E91E63;
    transition: background-color 0.2s linear;
    color: white;
    margin-bottom: 1px;
    border-left: 5px solid brown; }
  .tabs-container .tab:hover, .overlay-window .tab:hover, .tabs-container .active-tab, .overlay-window .active-tab {
    cursor: pointer;
    background-color: lightblue;
    color: #333;
    border-bottom: none; }
  .tabs-container .tab-content, .overlay-window .tab-content {
    width: 100%;
    max-height: 547px;
    border: 2px solid gray;
    border-top: none;
    background-color: white;
    overflow-y: scroll; }
    .tabs-container .tab-content > *, .overlay-window .tab-content > * {
      display: none; }
    .tabs-container .tab-content ul, .overlay-window .tab-content ul {
      padding-left: 0px;
      margin-bottom: -10px; }
    .tabs-container .tab-content li, .overlay-window .tab-content li {
      box-sizing: border-box;
      list-style-type: none;
      line-height: 55px;
      padding: 0px 10px;
      border-bottom: 2px solid gray;
      font-size: large; }
      .tabs-container .tab-content li .plot-graph, .overlay-window .tab-content li .plot-graph {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
        transition: transform 0.2s linear; }
      .tabs-container .tab-content li .plot-graph:hover, .overlay-window .tab-content li .plot-graph:hover {
        cursor: pointer;
        transform: scale(1.1, 1.1); }
  .tabs-container #images-tab-content, .overlay-window #images-tab-content, .tabs-container #optical-tab-content, .overlay-window #optical-tab-content, .tabs-container #rois-roiImages-tab-content, .overlay-window #rois-roiImages-tab-content {
    overflow-x: hidden; }
    .tabs-container #images-tab-content > div, .overlay-window #images-tab-content > div, .tabs-container #optical-tab-content > div, .overlay-window #optical-tab-content > div, .tabs-container #rois-roiImages-tab-content > div, .overlay-window #rois-roiImages-tab-content > div {
      display: inline-block;
      margin: 20px auto 0px auto;
      text-align: center;
      margin-left: calc(calc(100% - 960px)/4); }
    .tabs-container #images-tab-content .caption, .overlay-window #images-tab-content .caption, .tabs-container #optical-tab-content .caption, .overlay-window #optical-tab-content .caption, .tabs-container #rois-roiImages-tab-content .caption, .overlay-window #rois-roiImages-tab-content .caption {
      font-size: 11px;
      font-weight: bold; }

.buttons {
  z-index: 19;
  position: fixed;
  bottom: 5px;
  left: 10px;
  opacity: 0;
  display: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  transition: opacity 0.25s linear; }
  .buttons:hover {
    opacity: 1; }
  .buttons #tab-opener, .buttons #status-toggle {
    display: none;
    color: black;
    width: 45px;
    line-height: 42px;
    font-size: 25px;
    text-align: center;
    border: 2px solid gray;
    background-color: white;
    z-index: 19;
    border-radius: 3px;
    margin: 5px;
    transition: background-color .25s linear; }
    .buttons #tab-opener:hover, .buttons #status-toggle:hover {
      background-color: lightblue;
      cursor: pointer; }
  .buttons #tab-opener i {
    transform: rotate(45deg); }
  .buttons #status-toggle {
    width: 48px; }
  .buttons #status-toggle:focus {
    background-color: lightblue; }
  .buttons #status-toggle:focus + #status {
    transform: scale(1, 1); }
  .buttons #status {
    background-color: white;
    position: absolute;
    bottom: 100%;
    left: 100%;
    width: 600px;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 3px;
    transform-origin: 0 100%;
    transition: transform 0.25s linear;
    transform: scale(0, 0); }
    .buttons #status tr * {
      padding: 5px;
      text-align: center; }

.buttons.fade-in {
  animation: fadeIn 400ms linear forwards; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.nth-point-indicator {
  fill: none; }

.nav-buttons {
  display: none;
  position: relative;
  width: 100px;
  margin: auto auto; }

.alert-dialog, .error-dialog, .notification-dialog, .add-roi-dialog, .file-selection-dialog, .context-menu-dialog, .upload-optical-image-dialog {
  display: none;
  position: absolute;
  width: 350px;
  box-shadow: 0px 0px 0px 1px #d3d3d3;
  border-radius: 3px;
  text-align: center;
  font-size: large;
  margin: auto auto;
  z-index: 12;
  background-color: white;
  padding-bottom: 5px;
  right: 30px;
  top: 20px; }

.alert-dialog .alert-dialog-header, .error-dialog .alert-dialog-header, .notification-dialog .alert-dialog-header, .add-roi-dialog .alert-dialog-header, .file-selection-dialog .alert-dialog-header, .context-menu-dialog .alert-dialog-header, .upload-optical-image-dialog .alert-dialog-header {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: #ff9907;
  color: green;
  min-height: 50px; }
.alert-dialog .message-body, .error-dialog .message-body, .notification-dialog .message-body, .add-roi-dialog .message-body, .file-selection-dialog .message-body, .context-menu-dialog .message-body, .upload-optical-image-dialog .message-body {
  font-size: large;
  line-height: 30px;
  padding: 5px;
  padding-top: 10px; }
.alert-dialog .alert-dialog-header-close-action-icon, .error-dialog .alert-dialog-header-close-action-icon, .notification-dialog .alert-dialog-header-close-action-icon, .add-roi-dialog .alert-dialog-header-close-action-icon, .file-selection-dialog .alert-dialog-header-close-action-icon, .context-menu-dialog .alert-dialog-header-close-action-icon, .upload-optical-image-dialog .alert-dialog-header-close-action-icon {
  right: 10px;
  top: 5px;
  position: absolute;
  /*transition: transform .2s linear;*/ }
.alert-dialog button, .error-dialog button, .notification-dialog button, .add-roi-dialog button, .file-selection-dialog button, .context-menu-dialog button, .upload-optical-image-dialog button {
  transition: background-color .2s ease-in;
  width: 75px;
  margin: 5px; }
.alert-dialog button:hover, .error-dialog button:hover, .notification-dialog button:hover, .add-roi-dialog button:hover, .file-selection-dialog button:hover, .context-menu-dialog button:hover, .upload-optical-image-dialog button:hover {
  background-color: lightblue; }

.error-dialog {
  min-width: 350px;
  max-width: 800px;
  width: auto;
  position: fixed;
  bottom: 10px;
  top: initial; }
  .error-dialog .message-body {
    text-align: left;
    padding: 15px;
    margin: 0;
    text-align: center; }

.notification-dialog, .add-roi-dialog {
  background-color: #007fff;
  color: white;
  position: fixed;
  top: initial;
  bottom: 10px; }

.add-roi-dialog {
  background-color: white;
  color: black; }
  .add-roi-dialog .add-roi-dialog-header {
    background-color: #007fff;
    color: white; }

.file-selection-dialog, .context-menu-dialog {
  position: initial;
  float: right;
  padding-bottom: 0; }
  .file-selection-dialog .message-body, .context-menu-dialog .message-body {
    overflow-y: auto;
    max-height: 200px;
    min-height: 30px; }
  .file-selection-dialog .file-selection-dialog-header, .context-menu-dialog .file-selection-dialog-header {
    background-color: lightblue;
    font-weight: bold; }
  .file-selection-dialog .file-selection-dialog-header:hover, .context-menu-dialog .file-selection-dialog-header:hover {
    cursor: move; }
  .file-selection-dialog ul, .context-menu-dialog ul {
    margin: 0;
    margin-left: -5px;
    margin-right: -5px; }
  .file-selection-dialog li, .context-menu-dialog li {
    position: relative;
    list-style-type: none;
    text-align: left;
    margin: 0;
    line-height: 45px;
    display: block;
    margin-left: -2.2em;
    padding-left: 30px;
    border-bottom: 1px solid #d3d3d3;
    transition: background-color .18s ease-in; }
  .file-selection-dialog li:first-child, .context-menu-dialog li:first-child {
    margin-top: -10px; }
  .file-selection-dialog li:last-child, .context-menu-dialog li:last-child {
    margin-bottom: -9.5px;
    border-bottom: none; }
  .file-selection-dialog li:hover, .context-menu-dialog li:hover {
    background: #e3e3e3;
    cursor: pointer; }

.validation-error-dialog {
  bottom: initial;
  right: initial;
  z-index: 99;
  box-shadow: 2px 4px 10px 3px gray;
  width: 250px; }
  .validation-error-dialog :before {
    content: "";
    border: 15px solid transparent;
    border-left: 14px solid #d3d3d3;
    position: absolute;
    left: -28px;
    top: 1px;
    width: 25px;
    height: 25px;
    transform: rotate(180deg); }
  .validation-error-dialog :after {
    content: "";
    border: 15px solid transparent;
    border-right: 18px solid white;
    position: absolute;
    left: -27px;
    top: 1px;
    width: 28px;
    height: 25px;
    transform: scale(0.7, 0.7); }
  .validation-error-dialog .message-body {
    line-height: 13px; }
  .validation-error-dialog .alert-dialog-header {
    display: none; }

.context-menu-dialog {
  width: 250px;
  padding-bottom: 0;
  position: absolute;
  float: none;
  top: initial;
  left: initial;
  bottom: initial;
  right: initial; }
  .context-menu-dialog .message-body {
    overflow: hidden;
    max-height: none; }
  .context-menu-dialog li {
    font-size: small;
    margin-left: -3.1em;
    line-height: 30px; }
  .context-menu-dialog li:first-child {
    margin-top: -10px; }
  .context-menu-dialog li:last-child {
    margin-bottom: -5px;
    border-bottom: none; }

.upload-optical-image-dialog {
  top: 50%;
  left: calc(calc(100% - 350px)/2);
  top: calc(calc(100% - 178px)/2);
  right: initial;
  z-index: 30; }
  .upload-optical-image-dialog .alert-dialog-header {
    background-color: #7EB2DD;
    color: white; }
  .upload-optical-image-dialog form {
    margin: 0;
    display: inline-block;
    line-height: 0px; }

.panel-int-mz {
  width: 40%;
  float: right;
  padding: 10px; }

.panel-int-time {
  width: 40%;
  float: left;
  padding: 10px; }

#ion-image-container svg g:hover {
  cursor: pointer; }

#ion-image-container {
  position: relative; }
  #ion-image-container > div, #ion-image-container img {
    margin: 20px;
    display: inline-block; }

.publications, .how-to, .contact-us, .warp-window {
  width: 80%;
  box-shadow: 0px 0px 2px 2px gray;
  margin-left: 10%;
  position: absolute;
  top: 5px;
  max-height: 98%;
  background: white;
  border-radius: 3px;
  font-family: "Times New Roman";
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
  opacity: 0; }
  .publications h4, .how-to h4, .contact-us h4, .warp-window h4 {
    font-weight: bold; }
  .publications .my-dialog-header *, .how-to .my-dialog-header *, .contact-us .my-dialog-header *, .warp-window .my-dialog-header * {
    display: inline-block;
    text-align: center; }
  .publications .my-dialog-title, .how-to .my-dialog-title, .contact-us .my-dialog-title, .warp-window .my-dialog-title {
    width: 95%;
    font-size: x-large;
    font-weight: bold; }
  .publications .my-dialog-close-btn, .how-to .my-dialog-close-btn, .contact-us .my-dialog-close-btn, .warp-window .my-dialog-close-btn {
    position: absolute;
    right: 10px; }
  .publications .my-dialog-body, .how-to .my-dialog-body, .contact-us .my-dialog-body, .warp-window .my-dialog-body {
    margin: 10px;
    opacity: 0; }
  .publications li a:hover, .how-to li a:hover, .contact-us li a:hover, .warp-window li a:hover {
    text-decoration: underline; }
  .publications li, .how-to li, .contact-us li, .warp-window li {
    margin-bottom: 10px;
    position: relative;
    left: 500px;
    opacity: 0; }

.how-to, .contact-us {
  opacity: 1;
  display: none;
  font-family: 'Open Sans',Arial,sans-serif; }
  .how-to .my-dialog-body, .contact-us .my-dialog-body {
    opacity: 1;
    margin-left: 0px; }
  .how-to .my-dialog-close-btn, .contact-us .my-dialog-close-btn {
    z-index: 10; }
  .how-to li, .contact-us li {
    opacity: 1;
    left: 0px; }

.panels .panel-row {
  display: flex;
  flex-direction: row; }
.panels .panel {
  box-shadow: 0px 0px 1.5px 1px #736B60;
  margin: 5px;
  flex-grow: 1;
  border-radius: 3px;
  width: 50%;
  border: none; }
.panels .panel-heading {
  background-color: #4BA3C3;
  color: white;
  border-color: #07c;
  box-shadow: inset 0 1px 0 #66bfff, 0px 1px 3px #736B60;
  padding: 5px 10px; }
.panels .panel-body {
  padding-bottom: 5px; }
.panels .panel-heading {
  display: flex;
  flex-direction: row; }
.panels .panel-title {
  flex-grow: 99; }
.panels .options {
  flex-grow: 1; }
.panels button {
  background-color: transparent;
  border: 2px solid #ccc;
  font-size: 1.1em; }
.panels #remove-images {
  color: white;
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid #ccc; }
.panels #remove-images:hover {
  color: orange;
  background-color: #445E93; }

.contact-us {
  width: 30%;
  overflow: hidden;
  margin-left: 35%;
  top: 50%; }
  .contact-us .my-dialog-header {
    background-color: #7EB2DD;
    line-height: 2.5em; }
  .contact-us .my-dialog-title {
    color: white;
    font-size: medium; }
  .contact-us .my-dialog-body {
    margin: 0; }
  .contact-us .envelop {
    font-size: xx-large;
    padding-left: 5px;
    display: inline-block;
    width: 10%;
    vertical-align: middle; }
  .contact-us .email {
    display: inline-block;
    width: 80%;
    font-size: large;
    text-align: center; }

.warp-window {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  opacity: 1;
  top: 20%;
  z-index: 6;
  cursor: move;
  overflow: hidden; }
  .warp-window canvas:hover {
    cursor: initial; }
  .warp-window .my-dialog-body {
    opacity: 1; }
    .warp-window .my-dialog-body div {
      width: 320px;
      height: 235px;
      display: inline-block;
      margin: 20px;
      margin-bottom: 10px;
      position: relative; }
    .warp-window .my-dialog-body canvas {
      width: 320px;
      height: 235px;
      position: absolute;
      top: 0;
      left: 0; }
    .warp-window .my-dialog-body img {
      width: 320px;
      height: 235px; }
  .warp-window button {
    background-color: #2e648a;
    color: white;
    box-shadow: inset 0 1px 0 #66bfff, 0px 1px 3px #736B60;
    display: block;
    width: 100px;
    line-height: 30px;
    border-radius: 3px;
    margin-top: 10px; }
  .warp-window button:disabled {
    background-color: lightgray;
    cursor: not-allowed; }
  .warp-window .clear {
    background-color: cornsilk;
    width: 80px;
    line-height: 20px;
    margin-top: 5px;
    float: right;
    clear: both;
    color: black; }

.overlay-window {
  margin: auto auto;
  top: 10%;
  left: 20%;
  width: 60%; }
  .overlay-window #action-container {
    width: 100%; }
    .overlay-window #action-container i {
      float: right; }
  .overlay-window .tab-body {
    background-color: white;
    max-height: 27em; }
  .overlay-window .image-names {
    width: 70%;
    border: 2px solid gray;
    border-right: none;
    border-top: none;
    max-height: 36em;
    min-height: 27em;
    overflow-y: scroll; }
    .overlay-window .image-names > div {
      line-height: 3em;
      border-bottom: 2px solid gray;
      padding: 5px;
      transition: background-color 0.2s linear; }
    .overlay-window .image-names > div:hover {
      cursor: pointer;
      background-color: lightblue; }
    .overlay-window .image-names > div:last-child {
      border-bottom: none; }
  .overlay-window .overlay-images {
    width: 100%;
    position: relative;
    text-align: center; }
    .overlay-window .overlay-images .overlay-images-container {
      width: 320px;
      height: 100%;
      margin: auto auto;
      display: block;
      position: relative; }
    .overlay-window .overlay-images svg, .overlay-window .overlay-images img {
      top: calc(calc(100% - 235px)/2);
      left: 0;
      position: absolute; }
  .overlay-window canvas {
    height: 55px;
    width: 254px; }
  .overlay-window .color-map-selection ul {
    box-shadow: 0px 0px 2px 2px gray; }
  .overlay-window .color-map-selection li {
    padding-left: 0;
    line-height: initial;
    height: 55px;
    margin-bottom: 1px; }
  .overlay-window .selected-image-name {
    background-color: lightblue; }

@media (max-width: 1200px) {
  .panels .panel-row {
    display: flex;
    flex-direction: column; }
  .panels .panel {
    width: 100%; } }
.roi-metadata {
  display: none;
  z-index: 10;
  position: absolute;
  background-color: white;
  width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 5px 2px gray;
  border-radius: 2px; }
  .roi-metadata:hover {
    cursor: move; }

.selected-image {
  box-shadow: 0px 0px 10px 20px orange; }

/*# sourceMappingURL=main.css.map */
